---
import { AstroFont } from "astro-font";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";

const title = "Evolui.dev - Cursos de programação e comunidade";
const description =
  "Evolui.dev - Aqui você evolui como desenvolvedor(a)";
const image = "/images/evolui.dev.png";
const url = "https://evolui.dev";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <title>{title}</title>
    <meta
      name="description"
      content={description}
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <AstroFont
      config={[
        {
          src: [],
          name: "Urbanist",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap",
        },
      ]}
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R902ECW7ZS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R902ECW7ZS");
    </script>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }
</style>
