---
import { courses } from "../../data/courses";
import HeroSectionCurso from "../../components/HeroSectionCurso.astro";
import Layout from "../../layouts/Layout.astro";

// Define as rotas din창micas
export async function getStaticPaths() {
  return courses.map((course) => ({
    params: { id: course.id }, // Par창metro din창mico
  }));
}

const { id } = Astro.params;
const course = courses.find((course) => course.id === id);

if (!course) {
  throw new Error(`Curso com ID '${id}' n찾o encontrado.`);
}
---

<Layout>
  <main class="space-y-20 mb-40">
    <HeroSectionCurso
      title={course.title}
      description={course.description}
      image={course.image}
      link={course.link}
      label={course.label}
    />
  </main>
</Layout>
